// 
// Banner
// 

.banner {
    padding-top: calc(8rem + 74px);
    padding-bottom: 8rem;
    background: linear-gradient(90deg, fade-out(#ffffff, 0.9) 0%, faade-out(#ffffff, 0.9) 100%), url('../../public/img/banner.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .banner-heading {
        font-size: 2.75rem;
        line-height: 2.75rem;
    }

    .banner-subheading {
        font-size: 1.25rem;
    }

    .banner-avatar {
        width: 15rem;
    }
}

@include media-breakpoint-up(lg) {
    .banner {
        padding-top: calc(6rem + 104px);
        padding-bottom: 6rem;

        .banner-heading {
            font-size: 4rem;
            line-height: 3.5rem;
        }

        .banner-subheading {
            font-size: 1.5rem;
        }

    }
}
